._ {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background: none;
  padding: 0;
  border: none;
}

.button::before {
  position: absolute;
  inset: 0;
  background-color: transparent;
  content: "";
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.icon {
  width: 14px;
  height: 14px;
}
